<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
<!--    we have to define a new schema Context xmlns: .....-->
<!--    we also define a shortcut name to the schema context using the ':context'-->
<!--    by default when you define anything without a namespace it belongs to the first-->
<!--    we load the other beans we are using the component scan-->
    <context:component-scan base-package="com.example.demo.springin10days.basic" />

<!--    some of the beans we are defining and autowiring them-->
    <bean id="xmlJdbcConnection" class="com.example.demo.springin10days.xml.XmlJdbcConnection">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="xmlPersonDAO" class="com.example.demo.springin10days.xml.XmlPersonDAO">
        <!-- collaborators and configuration for this bean go here -->
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>