<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlJdbcConnection" class="com.example.demo.springin10days.xml.XmlJdbcConnection">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="xmlPersonDAO" class="com.example.demo.springin10days.xml.XmlPersonDAO">
        <!-- collaborators and configuration for this bean go here -->
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>